#tswcssbuttons {
  width: 180px;
  max-width: 100%;
  text-align: center;
}

#tswcssbuttons ul {
  margin: 0px;
  padding: 0px;
  list-style: outside none none;
}

#tswcssbuttons li {
  margin: 0px;
  padding: 0px;
  display: block;
  list-style: outside none none;
  font-family: Arial, Helvetica, sans-serif;
}

#tswcssbuttons li a {
  color: black;
  background-color: #b7abfc;
  border: 1px outset #2828b8;
  text-decoration: none;
  display: block;
}

#tswcssbuttons li a:hover {
  color: white;
  background-color: #2828b8;
}

#logo {
  display: block;
  margin: auto;
  float: right;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  height: 120px;
}

#picture {
  float: right;
}

#tswheader {
  /* float: right; */
  position: relative;
  height: 80px;
}

